* {
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: 'Alfa Slab One', cursive;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  margin: 0;
}

h1 {
  font-size: 58px;
  padding: 60px 60px;
  text-align: center;
}

.container {
  text-align: center;
  margin: 0 auto;
}

#board {
  justify-items: center;
  align-items: center;
  padding-top: 30px;
}

.userhit {
  text-align: center;
  padding: 10px 10px;
  font-size: 38px;
  border: 3px solid #fff;
}

.btn-increase {
  padding: 30px 30px;
  font-size: 45px;
  margin-right: 0.9em;
  border-style: none;
}

.btn-decrease {
  padding: 30px 30px;
  font-size: 45px;
  margin-left: 0.9em;
  border-style: none;
}

.btn-increase:hover {
  color: rgb(4, 160, 25);
}
.btn-decrease:hover {
  color: rgb(223, 87, 9);
}
