* {
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: 'Alfa Slab One', cursive;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  margin: 0;
}

h1 {
  font-size: 58px;
  padding: 30px 20px;
  text-align: center;
}

.container {
  text-align: center;
  margin: 0 auto;
  padding: ;
}

#board {
  justify-items: center;
  align-items: center;
  padding-top: 30px;
}

.userhit {
  text-align: center;
  padding: 10px 10px;
  font-size: 38px;
  border: 3px solid #fff;
}

.increase {
  padding: 5px 5px;
  font-size: 28px;
  margin-left: 0.9em;
  border-radius: 5px;
  border-style: 2px solid #444;
}

.decrease {
  padding: 5px 5px;
  font-size: 28px;
  margin-left: 0.9em;
  border-radius: 5px;
  border-style: 2px solid #444;
}

.reset {
  padding: 5px 5px;
  font-size: 28px;
  margin-left: 0.9em;
  border-radius: 5px;
  border-style: 2px solid #444;
}

.increase:hover {
  color: rgb(4, 160, 25);
}

.reset:hover {
  color: rgb(97, 209, 218);
}

.decrease:hover {
  color: rgb(223, 87, 9);
}

#value {
  font-size: 58px;
  display: block;
  padding: 40px 20px;
}
